aiohttp==3.6.2
aiosqlite==0.11.0
async-timeout==3.0.1
azure-cognitiveservices-nspkg==3.0.1
azure-cognitiveservices-search-imagesearch==1.0.0
azure-cognitiveservices-search-nspkg==3.0.1
azure-common==1.1.23
azure-nspkg==3.0.2
Cython==0.29.14
databases==0.2.6
db==0.1.1
db-sqlite3==0.0.1
decorator==4.4.1
discord==1.0.1
discord.py==1.5.1
hyperlink==19.0.0
lazy-object-proxy==1.4.3
multidict==4.7.3
mysql-connector-python==8.0.18
pycparser==2.19
Pygments==2.5.2
pyparsing==2.4.6
requests==2.22.0
requests-oauthlib==1.2.0
six==1.13.0
virtualenv==16.7.9
